 @import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700');
 @import 'rxbuy';
 @import 'scenarios';
 @import 'rxicons';
 

 .clearit {
	 clear:both;
 }
 
 div {
	 text-indent: none !important;
 }
 
body#skifiBody {
	background: url('../images/rx/scan.jpg') fixed;
    font-family: 'Rajdhani', sans-serif;
	font-weight:500;
	font-size:1em;
}

#contentAndSidebars h1 { font-size: 1.6em; font-weight:700;}

.urgbtn, #main_structure #highlightedRegion .btn.urgbtn {
	background-color: #b70707;
	box-sizing:border-box;
	font-weight:bold;
}

.img {
	max-width:100%;
	height:auto !important;
}

.node img {
	box-shadow:0;
	-moz-box-shadow:0;
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0);
}

.insetleft {
	float:left;
	clear:left;
	margin:0 15px 5px 0;
}
.insetright {
	float:right;
	clear:right;
	margin:0 0px 5px 15px;
}

.carttop {
	position:fixed;
	
	top:0;
	right:0;
	z-index:10000;
	opacity:.95;
	p {
		padding:0;
		margin:0;
		a.btn {
			padding:6px 12px;
		}
	}
}

#contentAndSidebars .blocktitle {
	color:#20607a;
	font-weight:700;
	font-size:1.4em;
	text-transform:uppercase;
	padding-left:0;
}

.theme-border, .sf-menu li ul, .box, .plain-title, .portfolio-container .views-field-created, #FooterRegion, #contentAndSidebars .blocktitle, #highlightedRegion {
	border:none;
}

div.terms {
	margin:0;
	padding:0;
}

.not-logged-in #verytopRegion {
	display:none;
}

#verytopRegion {
	color:#dddddd;
	
	background:url('../images/rx/emerghead2.jpg') #ff0000 repeat-x;
	height:51px;
	
	h3 {
		margin:0;
		line-height:100%;
	}
	#block-phg-raxxon-emergency-notification {
		text-align:center;
		vertical-align:middle;
		.content{
			padding:8px 0;
			p { margin:0; line-height:75%;}
		}
	}
}

@media all and (max-width:500px) {
	#verytopRegion {
		h3 {
			font-size:.8em;
		}
		#block-phg-raxxon-emergency-notification {
			.content{
				p {
					font-size:.7em;
				}
			}
		}
	}
	h1, #contentAndSidebars h1 {
		font-size:1.4em;
	}
	#contentAndSidebars .blocktitle {
		font-size:1.2em;
	}
	h3 {
		font-size:14px;
	}
}
.plain-title {
	margin-right:20px;
}

#header {
	#texttitles {
		margin-top:4px;
	}
	#site-name {
		font-size:2em;
		line-height:110%;
		margin-bottom:6px;
		a {
			color:#fff;
			opacity:.8;
			line-height:110%;
		
		}
	}
}
#selectnav1 {
	margin-top:12px;
}

#mainMenu {
	text-align:right;
}
#block-openid-connect-openid-connect-login {
	color:#dedede;
	text-align:right;
	max-width:300px;
	font-size:1.3em;
	margin-top:25px;
	display:inline-block;
	input {
		display:inline-block;
		border-radius:2px;
		text-align:center;
		vertical-align:middle;
		transition:all .3s linear;
		font-size:12px;
		line-height:20px;
		color:#dedede;
		background-color:#20607a;
		background-image:none;
		box-shadow:none;
		text-shadow:none;
	}
}
#StickyMainMenu {
	#block-openid-connect-openid-connect-login {
		margin-top:0;
		#openid-connect-login-form {
			margin-bottom:0;
		}
		p {
			display:none;
		}
	}
}

#main_structure #highlightedRegion {
	font-weight:500;
	text-align:center;
	background:url('../images/rx/notificationbg.jpg') repeat;
	background-size:auto 100%;
	color:#000000;
	min-height:224px;
	.btn {
		background-color:#20607a;
		text-shadow:none;
		color:#dedede;
	}
	.content {
		padding:25px 0;
		min-height:224px;
		box-sizing:border-box;
		text-align:center;
		.left,.right {
			width:48%;
			display:inline-block;
			vertical-align:top;
			text-align:center;
		}
		.marg {
			margin-right:4%;
		}
		.right {
			background-color:rgba(255,255,255,.5);
			padding:15px 8px;
			box-sizing:border-box;
		}
		
	}
	h4 {
		display:none;
	}
	h3 {
		color: #20607a;
		line-height:100%;
		font-weight:700;
		margin:0px 0px 8px;
	}
	p,form {
		margin:10px 0;
		line-height:120%;
	}
	.btn {
		margin:4px 0;
	}
	#highlighthazard {
		min-height:224px;
		background-image:url('../images/rx/hazardrunner.png');
		background-repeat:no-repeat;
		background-position:center;
	}
}
@media all and (max-width:750px) {
	#main_structure #highlightedRegion {
		.content {
			.left,.right {
				width:100%;
			}
			.marg {
				margin-bottom:15px;
			}
		}
	}
}


#main_structure {
	background:none;
	background-color:none;
}

.front #contentAndSidebars {
	padding:20px 0 0 0;
}



#contentAndSidebars {
	background:none;
	padding:20px 0 0px 0px;
	.block {
    	margin: 16px 16px 60px 16px;
		background: url('../images/rx/whitebox50bg.png');
	
		/*border:1px solid #999999;
		padding:10px;*/
		border: solid;
		border-width: 16px;
		border-image: url('../images/rx/whitebox50.png') 16 round;
		border-image-outset: 16px;
		padding:0;
	}
	a {
		font-weight:700;
	}
}



#header {
	background-image: url('../images/rx/box.jpg');
	background-repeat:no-repeat;
	background-size:160% auto;
	background-position: center center;
}

#title-region {
	background-color:black;
	background-image: url('../images/rx/circutg.jpg');
	
	.inner {
		padding:10px;
	}
	
	.page-title, .page-title a {
		color:#000;
		margin-right:0px;
		text-transform:uppercase;
		font-weight:700;
	}
}

#logocontainer {
	img {
		max-width:100px;
		height:auto;
		margin-bottom:3px;
	}
}

.sf-menu {
	a, a:visited, a.active {
		color:#cccccc;
		font-size:1.2em;
		margin-right:0;
	}
}
#stickyHeader {
	#stickyInner {
		padding: 5px 20px;
	}
	#stickyTitle {
		h2 {
			font-size:1.1em;
			margin-top:3px;
		}
	}
	#StickyMainMenu {
		.sf-menu {
			a, a:visited {
				padding:0 8px;
				color:#aaaaaa;
				font-size:.8em;
				margin-top:5px;
			}
		}
	}
}

#toTop {
	background: url('../images/toTop.png') no-repeat;
}

#toTop img.visible-desktop {
	display:inherit;
}

.region-content .content {
	padding:0;
}

.node {
	padding-bottom:0;
}

form .form-item {
	label {
		margin-bottom:0;
		font-size:1.2em;
	}
	input.form-text {
		width:100%;
		margin-bottom:0;
	}
}

#contentAndSidebars .view-updates-from-raxxon {
	h3 a, h3 a:hover {
		color:#ffffff;
		font-weight:400;
	}
	

	.white{ a, a:hover { color: #20607a;}}

	.views-row {
		background-color:rgba(255,255,255,.3);
		
		padding:15px;
		margin-bottom:15px;
		h3 {
			padding:12px;
			margin:4px 0;
			&.white {
				background-color:rgba(255,255,255,.3);
			}
			&.purple {
				background-color:#5b2c7e;
			}
			&.red {
				background-color:#9c1c24;
			}
			&.orange {
				background-color:#d1821a;
			}
			&.purple, &.red, &.orange {
				padding-left:50px;
				background-image:url('../images/rx/biosmall.png');
				background-position:9px center;
				background-repeat:no-repeat;
			}
		}
		.views-field-created { text-align:right; margin-bottom:8px; margin-right:5px; }
		.views-field-field-secruity-level {text-align:right; margin-right:5px;}
	}
	
}

.rxmap {
	width:100%;
	
}

#block-phg-raxxon-global-map-data, #block-phg-raxxon-my-map-data, #block-phg-raxxon-region-map-data {
	display:none;
}

.mapcontrols {
	text-align:center;
	.dayref {
		display:inline-block;
		width:50px;
		text-align:center;
	}
	.btn {
		margin: 20px 2%;
		padding:8px 4%;
	}
	label{display:inline-block;}
	input{display:inline-block;}
}

.fa-shopping-cart {
	font-size:18px;
	height:auto;
}


.scentable {
	img {
		max-width:100%;
		max-height:180px;
		width:auto;
		height:auto;
	}
	td {
		max-width:250px;
		vertical-align:middle;
		text-align:center;
	}
}
@media all and (max-width:600px) {
	.scentable {
		img { display:none; }
	}
}

#FooterRegion #footer a, #FooterRegion .more-link a {
	color:#bbbbbb !important;
}

.node-blog {
	.links { display:none; }
}

.region-footer #block-block-2 {
	
	font-size:.8em;
}