/* line 1, scenarios.scss */
.n {
  font-style: italic;
}

/* line 5, scenarios.scss */
.scen-container {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../images/rx/scan.jpg");
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
}
/* line 15, scenarios.scss */
.scen-container .btn-return {
  position: fixed;
  bottom: 0;
  right: 0;
}
/* line 20, scenarios.scss */
.scen-container .scen-menu {
  box-sizing: border-box;
  width: 100%;
  min-height: 54px;
}
/* line 24, scenarios.scss */
.scen-container .scen-menu .btn {
  width: 24%;
  margin: .5%;
  max-width: 200px;
  line-height: 35px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 4px;
}
/* line 34, scenarios.scss */
.scen-container .scen-content {
  margin: 16px 16px 16px 16px;
  background: url("../images/rx/whitebox50bg.png");
  border: solid;
  border-width: 16px;
  border-image: url("../images/rx/whitebox50.png") 16 round;
  border-image-outset: 16px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
/* line 45, scenarios.scss */
.scen-container .scen-content h2 {
  text-align: center;
  margin-top: -8px;
}
/* line 49, scenarios.scss */
.scen-container .scen-content h3 {
  text-align: center;
}
/* line 52, scenarios.scss */
.scen-container .scen-content .scen-snippet {
  padding-right: 8px;
  display: none;
}
/* line 55, scenarios.scss */
.scen-container .scen-content .scen-snippet .context-moment {
  display: none;
}
/* line 59, scenarios.scss */
.scen-container .scen-content li {
  margin-bottom: 10px;
}
/* line 63, scenarios.scss */
.scen-container .loading {
  text-align: center;
  display: none;
}

/* line 69, scenarios.scss */
.noscroll {
  overflow: hidden;
}

/* line 72, scenarios.scss */
.scen-cont-nid {
  display: none;
}

@media all and (max-width: 500px) {
  /* line 76, scenarios.scss */
  .scen-container .scen-menu .btn {
    font-size: 12px;
  }
}
